@import "tailwindcss";

@theme {
    --font-primary: "Poppins", "serif";
    --font-secondary: "Roboto", "serif";

    --color-primary: #008BFF;
    --color-secondary: #00D1FF;
    --color-tertiary: #001F3F;
    --color-base: #FFFFFF;

    --breakpoint-*: initial;
    --breakpoint-lg: 640px;
    --breakpoint-tablet: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1440px;
    --breakpoint-4xl: 1536px;

    
}